body, html {
  margin: 0;
  background: #222422;
  height: 100vh;
}


section{
  height: 100vh;
  text-align: center;
}

h1{
  position: relative;
  width: 100%;
  letter-spacing: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #AAA;

}


.box{
  background: red;
  width: 200px;
  height:200px;

}
.dark{
  text-align: left;
  background: grey;
  color: white;
  position: relative;;


}

img{
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
  top:0;
  z-index: 0;




.content{
  padding: 15em 5em;
  z-index: 1;

}
